<div class="creature-info">
  <h1 class="creature-name">{{creatureDisplay.name}}</h1>
  <div class="creature-creature-type">
    <span>{{creatureDisplay.size}} {{creatureDisplay.type}}</span>
    <span *ngIf="creatureDisplay.subtype != null"> ({{creatureDisplay.subtype}})</span>
    <span *ngIf="creatureDisplay.alignment != null">, {{creatureDisplay.alignment}}</span>
  </div>

  <div class="line-break"></div>
  <div class="creature-combat-information">
    <div class="armour-class">
      <span class="creature-red-label">Armour Class</span>
      <span class="creature-red-value">{{creatureDisplay.ac}}</span>
    </div>
    <div class="hit-points">
      <span class="creature-red-label">Hit Points</span>
      <span class="creature-red-value">{{creatureDisplay.hp}} ({{creatureDisplay.hit_dice}})</span>
    </div>
    <div class="speed">
      <span class="creature-red-label">Speed</span>
      <span class="creature-red-value">{{creatureDisplay.speed}}</span>
    </div>
  </div>

  <div class="line-break"></div>
  <div class="creature-ability-section">
    <table class="creature-ability-table">
      <thead>
        <tr>
          <th class="creature-red-label">Str</th>
          <th class="creature-red-label">Dex</th>
          <th class="creature-red-label">Con</th>
          <th class="creature-red-label">Int</th>
          <th class="creature-red-label">Wis</th>
          <th class="creature-red-label">Cha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="creature-red-value">{{creatureDisplay.str}}</td>
          <td class="creature-red-value">{{creatureDisplay.dex}}</td>
          <td class="creature-red-value">{{creatureDisplay.con}}</td>
          <td class="creature-red-value">{{creatureDisplay.int}}</td>
          <td class="creature-red-value">{{creatureDisplay.wis}}</td>
          <td class="creature-red-value">{{creatureDisplay.cha}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="line-break"></div>
  <div class="creature-proficiences">
    <div class="creature-proficiences-saving-throws" *ngIf="creatureDisplay.saving_throws != null && creatureDisplay.saving_throws.length > 0">
      <span class="creature-red-label">Saving Throws</span>
      <span class="creature-red-value">{{creatureDisplay.saving_throws}}</span>
    </div>
    <div class="creature-proficiences-skills" *ngIf="creatureDisplay.skills != null && creatureDisplay.skills.length > 0">
      <span class="creature-red-label">Skills</span>
      <span class="creature-red-value">{{creatureDisplay.skills}}</span>
    </div>
    <div class="creature-proficiences-damage-vulnerabilities" *ngIf="creatureDisplay.damage_vulnerabilities != null && creatureDisplay.damage_vulnerabilities.length > 0">
      <span class="creature-red-label">Damage Vulnerabilities</span>
      <span class="creature-red-value">{{creatureDisplay.damage_vulnerabilities}}</span>
    </div>
    <div class="creature-proficiences-damage-resistances" *ngIf="creatureDisplay.damage_resistances != null && creatureDisplay.damage_resistances.length > 0">
      <span class="creature-red-label">Damage Resistances</span>
      <span class="creature-red-value">{{creatureDisplay.damage_resistances}}</span>
    </div>
    <div class="creature-proficiences-damage-immunities" *ngIf="creatureDisplay.damage_immunities != null && creatureDisplay.damage_immunities.length > 0">
      <span class="creature-red-label">Damage Immunities</span>
      <span class="creature-red-value">{{creatureDisplay.damage_immunities}}</span>
    </div>
    <div class="creature-proficiences-condition-immunities" *ngIf="creatureDisplay.condition_immunities != null && creatureDisplay.condition_immunities.length > 0">
      <span class="creature-red-label">Condition Resistances</span>
      <span class="creature-red-value">{{creatureDisplay.condition_immunities}}</span>
    </div>
    <div class="creature-proficiences-senses" *ngIf="creatureDisplay.senses != null && creatureDisplay.senses.length > 0">
      <span class="creature-red-label">Senses</span>
      <span class="creature-red-value">{{creatureDisplay.senses}}</span>
    </div>
    <div class="creature-proficiences-languages">
      <span class="creature-red-label">Languages</span>
      <span class="creature-red-value">{{creatureDisplay.languages}}</span>
    </div>
    <div class="creature-proficiences-challenge">
      <span class="creature-red-label">Challenge</span>
      <span class="creature-red-value">{{creatureDisplay.cr}}</span>
    </div>
  </div>

  <div class="line-break"></div>
  <div class="creature_innate_spellcasting" *ngIf="creatureDisplay.innate_spellcasting != null">
    <div class="creature_innate_spellcasting_info">
      <span class="creature-black-label">Innate Spellcasting.</span>
      <span class="creature-black-value">{{creatureDisplay.innate_spellcasting.value}}:</span>
    </div>
    <div class="creature_innate_spells" *ngFor="let innSpell of creatureDisplay.innate_spells">
      <span class="creature-black-value">{{innSpell.name}}: </span>
      <span class="creature-black-value italics">{{innSpell.value}}</span>
    </div>
  </div>

  <div class="creature_spellcasting" *ngIf="creatureDisplay.spellcasting != null">
    <div class="creature_spellcasting_info">
      <span class="creature-black-label">Spellcasting.</span>
      <span class="creature-black-value">{{creatureDisplay.spellcasting.value}}</span>
    </div>
    <div class="creature_spellcasting_spells" *ngFor="let spell of creatureDisplay.spellcasting_spells">
        <span class="creature-black-value">{{spell.name}}: </span>
        <span class="creature-black-value italics">{{spell.value}}</span>
    </div>
  </div>

  <div class="creature-special-abilities-section" *ngIf="creatureDisplay.special_abilities != null && creatureDisplay.special_abilities.length > 0">
    <div class="creature-special-abilities">
      <div class="creature-special-abilities-ability" *ngFor="let specialAbility of creatureDisplay.special_abilities">
        <span class="creature-black-label">{{specialAbility.name}}.</span>
        <span class="creature-black-value">{{specialAbility.value}}</span>
      </div>
    </div>
  </div>

  <div class="creature-actions-section" *ngIf="creatureDisplay.actions != null && creatureDisplay.actions.length > 0">
    <div class="creature-section-title">
      <span class="capital">A</span>CTIONS
    </div>
    <div class="line-break"></div>
    <div class="creature-actions">
      <div class="creature-action-action" *ngFor="let action of creatureDisplay.actions">
        <span class="creature-black-label">{{action.name}}.</span>
        <span class="italics" *ngIf="action.type">{{action.type}}: </span>
        <span class="creature-black-value">{{action.value}}</span>
      </div>
    </div>
  </div>

  <div class="creature-legendary-actions-section" *ngIf="creatureDisplay.legendary_actions != null">
    <div class="creature-section-title">
      <span class="capital">L</span>EGENDARY <span class="capital">A</span>CTIONS
    </div>
    <div class="line-break"></div>
    <div class="creature_legendary_action_description">{{creatureDisplay.legendary_actions.value}}</div>
    <div class="creature-legendary-action-action" *ngFor="let legendAction of creatureDisplay.legendary_actions.actions">
      <span class="creature-black-label">{{legendAction.name}}.</span>
      <span class="creature-black-value">{{legendAction.value}}</span>
    </div>
  </div>

  <div class="creature-reactions-section" *ngIf="creatureDisplay.reactions != null">
    <div class="creature-section-title">
      <span class="capital">R</span>EACTIONS
    </div>
    <div class="line-break"></div>
    <div class="creature-reaction-entry" *ngFor="let reaction of creatureDisplay.reactions">
      <span class="creature-black-label">{{reaction.name}}.</span>
      <span class="creature-black-value">{{reaction.value}}</span>
    </div>
  </div>

  <div class="creature_source_section" *ngIf="creatureDisplay.source != null && creatureDisplay.source.length > 0">
    <div class="creature-section-title">
      <span class="capital">S</span>OURCE
    </div>
    <div class="line-break"></div>
    <div class="creature_source_section" *ngFor="let source of creatureDisplay.source">
      <span class="creature-black-label">{{source.name}}:</span>
      <span class="creature-black-value">Page {{source.value}}</span>
    </div>
  </div>
</div>
