<div class="tools">
  <input class="searchbar" (keyup)="search($event)" type="text" placeholder="Search..." [(ngModel)]="keyword">
  <a class="tools-add" routerLink="/add-creature"><img src="assets/images/add.png"></a>
</div>

<div class="creature-info" *ngIf="currentCreature != null">
  <div class="creature-info-header">
    <a (click)="collapseCreature()" class="button button-collapse">
      <img src="assets/images/compress.png">
    </a>
  </div>
  <creature-info [creature]="currentCreature"></creature-info>
</div>

<div class="wrapper">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>
          <div class="header-title">Name</div>
          <div class="sort-arrows-container">
            <a (click)="sort('name', 'asc')" class="up-arrow">
              <img src="assets/images/up-arrow.png">
            </a>
            <a (click)="sort('name', 'desc')" class="down-arrow">
              <img src="assets/images/down-arrow.png">
            </a>
          </div>
        </th>
        <th>
          <div class="header-title">CR</div>
          <div class="sort-arrows-container">
            <a (click)="sort('challenge_rating', 'asc')" class="up-arrow">
              <img src="assets/images/up-arrow.png">
            </a>
            <a (click)="sort('challenge_rating', 'desc')" class="down-arrow">
              <img src="assets/images/down-arrow.png">
            </a>
          </div>
        </th>
        <th>
          <div class="header-title">Type</div>
          <div class="sort-arrows-container">
            <a (click)="sort('type', 'asc')" class="up-arrow">
              <img src="assets/images/up-arrow.png">
            </a>
            <a (click)="sort('type', 'desc')" class="down-arrow">
              <img src="assets/images/down-arrow.png">
            </a>
          </div>
        </th>
        <th>
          <div class="header-title">Size</div>
          <div class="sort-arrows-container">
            <a (click)="sort('size', 'asc')" class="up-arrow">
              <img src="assets/images/up-arrow.png">
            </a>
            <a (click)="sort('size', 'desc')" class="down-arrow">
              <img src="assets/images/down-arrow.png">
            </a>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let creature of displayedCreatures">
        <td class="creature-name">{{creature.creature.name}}</td>
        <td>{{creature.creature.challenge_rating}}</td>
        <td>
          <span>{{creature.creature.type}}</span>
          <span *ngIf="creature.creature.subtype != null"> ({{creature.creature.subtype}})</span>
        </td>
        <td>{{creature.creature.size}}</td>
        <td class="creature-actions">
          <a (click)="displayCreature(creature)" class="button button-view">
            <img src="assets/images/storage.png">
          </a>
          <a (click)="editCreature(creature)" class="button button-edit">
            <img src="assets/images/edit.png">
          </a>
          <a (click)="downloadCreature(creature)" class="button button-download">
            <img src="assets/images/file.png">
          </a>
          <a (click)="deleteCreature(creature)" class="button button-delete">
            <img src="assets/images/trash.png">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
