.card{
  background: linear-gradient(to bottom, #cc6600 0%, #cc0000 90%);
  max-width: 200px;
  margin: auto;
}

.card{
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-body{
  min-height: 150px;
}

.wrapper{
  display: flex;
}

.left{
  flex: 0 0 40%;
  margin: 0px 5px;
}

.left-alone{
  flex: 0 0 95%;
}

.right{
  flex: 1;
}

.line-seperator{
  float: left;
  width: 1px;
  height: 100%;
  background-color: #f7ce65;
  margin-right: 5px;
}

.json-display{
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Roboto', sans-serif;
}

pre{
  white-space: pre-wrap;
}

.searchbar{
  margin: 0 10px 10px 10px;
  height: 2.3em;
}

.creature-tools{
  margin: auto;
  width: 50%;
}

h1{
  text-align: center;
}

.trash{
  background-color: #ff6666;
  margin-left: 3px;
}

.btn-light{
  margin-left: 3px;
}

.creature-info-header{
  display: flex;
  justify-content: space-between;
}

.collapse-button{
  max-height: 45px;
  margin-right: 5px;
}

.creature-info-name{
  flex: auto;
}
