.card{
  background-color: #595959;
  width: 200px;
  margin: auto;
}

.individual-cards{
  margin-bottom: 10px;
}

.card-body{
  height: 200px;
}

.wrapper{
  display: flex;
}

.left{
  flex: 0 0 40%;
}

.right{
  flex: 1;
}

.line-seperator{
  float: left;
  width: 1px;
  height: 100%;
  background-color: #f7ce65;
  margin-right: 5px;
}

.json-display{
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Roboto', sans-serif;
}

pre{
  white-space: pre-wrap;
}

.json-number{
  color: white;
}
