<div class="section">
  <div class="input_pair">
    <input class="input_stnd" type="text" name="username" placeholder=" " [(ngModel)]="username" required/>
    <label for="username">Username</label>
  </div>
</div>

<div class="section">
  <div class="input_pair">
    <input class="input_stnd" type="password" name="password" placeholder=" " [(ngModel)]="password" required/>
    <label for="password">Password</label>
  </div>
</div>


<div class="section">
  <a class="login_button" type="button" (click)="login()"><span class="login_text">Login</span></a>
</div>

<div class="section">
  <a type="button" routerLink="/register">Sign Up</a>
</div>

<div class="section">
  <span class="errors">{{error}}</span>
</div>
