textarea{
  background-color: darkgray;
  flex: auto;
  margin: 10px 10%;
}

.json-display{
  display: flex;
  justify-content: center;
}

.json-display button{
  flex: auto;
  margin: 0 10%;
}

.btn-danger{
  margin-left: 10px;
}

.status-message-success{
  color: rgba(0, 230, 77, 0.87);
}

.status-message-invalid{
  color: rgba(255, 51, 51, 0.87);
}
