<div class="wrapper">
  <h1>{{title}}</h1>

  <div class="">
    <h4>Import Creature</h4>
    <input class="import" type="file" id="file" (change)="fileInput($event.target.files)" />
    <label for="file" class="button file_select" *ngIf="!fileUploaded">Select File</label>
    <button (click)="importCreature()" class="button button_import" *ngIf="fileUploaded">Import {{fileUploaded.name}}</button>
    <span class="status">{{status}}</span>
  </div>

  <div class="flexbox">
    <div class="input_pair">
      <input class="input_stnd" name="name" placeholder=" " [(ngModel)]="creature.name"/>
      <label for="name">Name</label>
    </div>

    <div class="input_pair">
      <input class="input_stnd" name="size" placeholder=" " [(ngModel)]="creature.size"/>
      <label for="size">Size</label>
    </div>

    <div class="input_pair">
      <input class="input_stnd" name="alignment" placeholder=" " [(ngModel)]="creature.alignment"/>
      <label for="alignment">Alignment</label>
    </div>
  </div>

  <div class="flexbox">
    <div class="input_pair">
      <input class="input_stnd" name="type" placeholder=" " [(ngModel)]="creature.type"/>
      <label for="type">Type</label>
    </div>

    <div class="input_pair">
      <input class="input_stnd" name="subtype" placeholder=" " [(ngModel)]="creature.subtype"/>
      <label for="subtype">Subtype</label>
    </div>
  </div>

  <div class="flexbox">
    <div class="input_pair">
      <input class="input_stnd" name="armor_class" placeholder=" " [(ngModel)]="creature.armor_class" type="number"/>
      <label for="armor_class">AC</label>
    </div>

    <div class="input_pair">
      <input class="input_stnd" name="hit_points" placeholder=" " [(ngModel)]="creature.hit_points" type="number"/>
      <label for="hit_points">HP</label>
    </div>

    <div class="input_pair">
      <input class="input_stnd" name="hit_dice" placeholder=" " [(ngModel)]="creature.hit_dice"/>
      <label for="hit_dice">Hit Dice</label>
    </div>
  </div>


  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Speed</span>
      <button (click)="addEntry('speed')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let speedEntry of creature.speed">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" name="name" type="text" placeholder=" " [(ngModel)]="speedEntry.name"/>
          <label for="name">Movement Type</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" name="value" type="text" placeholder=" " [(ngModel)]="speedEntry.value"/>
          <label for="value">Value</label>
        </div>
        <button (click)="removeEntry(creature.speed, speedEntry)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>


  <div class="flexbox">
    <div class="input_pair">
      <input class="input_stnd" placeholder=" " name="str" placeholder=" " [(ngModel)]="creature.strength" type="number"/>
      <label for="str">STR</label>
    </div>
    <div class="input_pair">
      <input class="input_stnd" placeholder=" " name="dex" placeholder=" " [(ngModel)]="creature.dexterity" type="number"/>
      <label for="dex">DEX</label>
    </div>
    <div class="input_pair">
      <input class="input_stnd" placeholder=" " name="con" placeholder=" " [(ngModel)]="creature.constitution" type="number" />
      <label for="con">CON</label>
    </div>
    <div class="input_pair">
      <input class="input_stnd" placeholder=" " name="int" placeholder=" " [(ngModel)]="creature.intelligence" type="number" />
      <label for="int">INT</label>
    </div>
    <div class="input_pair">
      <input class="input_stnd" placeholder=" " name="wis" placeholder=" " [(ngModel)]="creature.wisdom" type="number" />
      <label for="wis">WIS</label>
    </div>
    <div class="input_pair">
      <input class="input_stnd" placeholder=" " name="cha" placeholder=" " [(ngModel)]="creature.charisma" type="number" />
      <label for="cha">CHA</label>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Saving Throws</span>
      <button class="button button_purple" (click)="addEntry('saving_throws')">Add</button>
    </div>
    <div *ngFor="let savingThrow of creature.saving_throws">
      <div class="flexbox">
        <div class="input_pair">
          <select matNativeControl class="input_stnd" placeholder=" " [(ngModel)]="savingThrow.name" name="saving_throw">
            <option value="" selected></option>
            <option *ngFor="let option of savingThrowOptions" [value]="option">
              {{option}}
            </option>
          </select>
          <label for="saving_throw">Saving Throw</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" name="value" type="number" placeholder=" " [(ngModel)]="savingThrow.value"/>
          <label for="value">Saving Throw Modifier</label>
        </div>
        <button (click)="removeEntry(creature.saving_throws, savingThrow)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Skills</span>
      <button (click)="addEntry('skills')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let skill of creature.skills">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="skill" placeholder=" " [(ngModel)]="skill.name"/>
          <label for="skill">Skill</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" type="number" name="modifier" placeholder=" " [(ngModel)]="skill.value"/>
          <label for="modifier">Modifier</label>
        </div>
        <button (click)="removeEntry(creature.skills, skill)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Damage Vulnerabilities</span>
      <button (click)="addEntry('damage_vulnerabilities')" class="button button_purple">Add</button>
    </div>
    <div class="flexbox_sm">
      <div class="flexbox_pair" *ngFor="let item of creature.damage_vulnerabilities; let i = index; trackBy:trackByIndex">
        <div class="input_pair_sm">
          <input class="input_stnd" type="text" name="damage_vulnerability" placeholder=" " [(ngModel)]="creature.damage_vulnerabilities[i]"/>
          <label for="damage_vulnerability">Damage Vulnerability</label>
        </div>
        <button (click)="removeEntry(creature.damage_vulnerabilities, item)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Damage Resistances</span>
      <button (click)="addEntry('damage_resistances')" class="button button_purple">Add</button>
    </div>
    <div class="flexbox_sm">
      <div class="flexbox_pair" *ngFor="let item of creature.damage_resistances; let i = index; trackBy:trackByIndex">
        <div class="input_pair_sm">
          <input class="input_stnd" type="text" name="damage_resistance" placeholder=" " [(ngModel)]="creature.damage_resistances[i]"/>
          <label for="damage_resistance">Damage Resistance</label>
        </div>
        <button (click)="removeEntry(creature.damage_resistances, item)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Damage Immunities</span>
      <button (click)="addEntry('damage_immunities')" class="button button_purple">Add</button>
    </div>
    <div class="flexbox_sm">
      <div class="flexbox_pair" *ngFor="let item of creature.damage_immunities; let i = index; trackBy:trackByIndex">
        <div class="input_pair_sm">
          <input class="input_stnd" type="text" name="damange_immunity" placeholder=" " [(ngModel)]="creature.damage_immunities[i]"/>
          <label for="damange_immunity">Damage Immunity</label>
        </div>
        <button (click)="removeEntry(creature.damage_immunities, item)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Condition Immunities</span>
      <button (click)="addEntry('condition_immunities')" class="button button_purple">Add</button>
    </div>
    <div class="flexbox_sm">
      <div class="flexbox_pair" *ngFor="let item of creature.condition_immunities; let i = index; trackBy:trackByIndex">
        <div class="input_pair_sm">
          <input class="input_stnd" type="text" name="condition_immunity" placeholder=" " [(ngModel)]="creature.condition_immunities[i]"/>
          <label for="condition_immunity">Condition Immunity</label>
        </div>
        <button (click)="removeEntry(creature.condition_immunities, item)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Senses</span>
      <button (click)="addEntry('senses')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let sense of creature.senses">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="name" placeholder=" " [(ngModel)]="sense.name"/>
          <label for="name">Sense</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" type="text" placeholder=" " [(ngModel)]="sense.value"/>
          <label for="value">Sense Value</label>
        </div>
        <button (click)="removeEntry(creature.senses, sense)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="flexbox">
    <div class="input_pair">
      <input class="input_stnd" name="languages" placeholder=" " [(ngModel)]="creature.languages"/>
      <label for="languages">Languages</label>
    </div>

    <div class="input_pair">
      <input class="input_stnd" name="cr" placeholder=" " [(ngModel)]="creature.challenge_rating"/>
      <label for="cr">CR</label>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Special Abilities</span>
      <button (click)="addEntry('special_abilities')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let specab of creature.special_abilities">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="name" placeholder=" " [(ngModel)]="specab.name"/>
          <label for="name">Ability Name</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" type="text" name="value" placeholder=" " [(ngModel)]="specab.value"/>
          <label for="value">Ability</label>
        </div>
        <button (click)="removeEntry(creature.special_abilities, specab)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Innate Spellcasting</span>
      <button (click)="addEntry('innate_spellcasting')" class="button button_purple">Add</button>
    </div>
    <div *ngIf="creature.innate_spellcasting != undefined">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="value" placeholder=" " [(ngModel)]="creature.innate_spellcasting.value" />
          <label for="value">Innate Spellcasting</label>
        </div>
        <button (click)="clearField('innate_spellcasting')" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
      <div class="sub_section" *ngFor="let innspell of creature.innate_spellcasting.time_constraint">
        <div class="flexbox">
          <div class="input_pair">
            <input class="input_stnd" type="text" name="per_day" placeholder=" " [(ngModel)]="innspell.per_day" />
            <label for="per_day">Per Day</label>
          </div>
          <button (click)="removeEntry(creature.innate_spellcasting.time_constraint, innspell)" class="button_delete"><img src="assets/images/trash.png"></button>
        </div>
        <div class="flexbox_vertical">
          <span class="section_subtitle">Spells</span>
          <button (click)="addSpell(innspell)" class="button button_purple">Add Spell</button>
        </div>
        <div class="flexbox_sm">
          <div class="flexbox_pair" *ngFor="let spell of innspell.spells; let i = index; trackBy:trackByIndex">
            <div class="input_pair_sm">
              <input class="input_stnd" type="text" name="spell" placeholder=" " [(ngModel)]="innspell.spells[i]" />
              <label for="spell">Spell</label>
            </div>
            <button (click)="removeEntry(innspell.spells, spell)" class="button_delete"><img src="assets/images/trash.png"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Spellcasting</span>
      <button (click)="addEntry('spellcasting')" class="button button_purple">Add</button>
    </div>
    <div *ngIf="creature.spellcasting != undefined">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="value" placeholder=" " [(ngModel)]="creature.spellcasting.value" />
          <label for="value">Spellcasting</label>
        </div>
        <button (click)="clearField('spellcasting')" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
      <div class="sub_section" *ngFor="let spellslvl of creature.spellcasting.levels">
        <div class="flexbox">
          <div class="input_pair">
            <input class="input_stnd" type="text" name="level" placeholder=" " [(ngModel)]="spellslvl.level" />
            <label for="level">Level</label>
          </div>
          <div class="input_pair">
            <input class="input_stnd" type="number" name="slots" placeholder=" " [(ngModel)]="spellslvl.slots" />
            <label for="slots">Slots</label>
          </div>
          <button (click)="removeEntry(creature.spellcasting.levels, spellslvl)" class="button_delete"><img src="assets/images/trash.png"></button>
        </div>
        <div class="flexbox_vertical">
          <span class="section_subtitle">Spells</span>
          <button (click)="addSpell(spellslvl)" class="button button_purple">Add Spell</button>
        </div>
        <div class="flexbox_sm">
          <div class="flexbox_pair" *ngFor="let spell of spellslvl.spells; let i = index; trackBy:trackByIndex">
            <div class="input_pair_sm">
              <input class="input_stnd" type="text" name="spell" placeholder=" " [(ngModel)]="spellslvl.spells[i]" />
              <label for="spell">Spell</label>
            </div>
            <button (click)="removeEntry(spellslvl.spells, spell)" class="button_delete"><img src="assets/images/trash.png"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Actions</span>
      <button (click)="addEntry('actions')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let action of creature.actions">
      <div class="sub_section">
        <div class="flexbox">
          <div class="input_pair">
            <input class="input_stnd" type="text" name="name" placeholder=" " [(ngModel)]="action.name"/>
            <label for="name">Action</label>
          </div>
          <div class="input_pair">
            <input class="input_stnd" type="text" name="type" placeholder=" " [(ngModel)]="action.type"/>
            <label for="type">Type</label>
          </div>
          <button (click)="removeEntry(creature.actions, action)" class="button_delete"><img src="assets/images/trash.png"></button>
        </div>
        <div class="flexbox">
          <div class="input_pair">
            <input class="input_stnd" type="text" name="value" placeholder=" " [(ngModel)]="action.value"/>
            <label for="value">Description</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Legendary Actions</span>
      <button (click)="addEntry('legendary_actions')" class="button button_purple">Add</button>
    </div>
    <div *ngIf="creature.legendary_actions != undefined">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="value" placeholder=" " [(ngModel)]="creature.legendary_actions.value" />
          <label for="value">Legendary Action Description</label>
        </div>
        <button (click)="clearField('legendary_actions')" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
      <div class="flexbox_vertical">
        <div class="input_pair">
          <input class="input_stnd" type="number" name="amount" placeholder=" " [(ngModel)]="creature.legendary_actions.amount" />
          <label for="amount">Amount</label>
        </div>
        <button (click)="addLegendaryAction()" class="button button_purple">Add Action</button>
      </div>
      <div class="sub_section" *ngFor="let action of creature.legendary_actions.actions">
        <div class="flexbox">
          <div class="input_pair">
            <input class="input_stnd" type="text" name="name" placeholder=" " [(ngModel)]="action.name"/>
            <label for="name">Action</label>
          </div>
          <button (click)="removeEntry(creature.legendary_actions.actions, action)" class="button_delete"><img src="assets/images/trash.png"></button>
        </div>
        <div class="flexbox">
          <div class="input_pair">
            <input class="input_stnd" type="text" name="value" placeholder=" " [(ngModel)]="action.value"/>
            <label for="value">Description</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Source</span>
      <button (click)="addEntry('source')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let source of creature.source">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="name" placeholder=" " [(ngModel)]="source.name"/>
          <label for="name">Source</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" type="number" name="value" placeholder=" " [(ngModel)]="source.value"/>
          <label for="value">Page</label>
        </div>
        <button (click)="removeEntry(creature.source, source)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flexbox_vertical">
      <span class="section_title">Level</span>
      <button (click)="addEntry('level')" class="button button_purple">Add</button>
    </div>
    <div *ngFor="let level of creature.level">
      <div class="flexbox">
        <div class="input_pair">
          <input class="input_stnd" type="text" name="name" placeholder=" " [(ngModel)]="level.name"/>
          <label for="name">Class</label>
        </div>
        <div class="input_pair">
          <input class="input_stnd" type="number" name="level" placeholder=" " [(ngModel)]="level.value"/>
          <label for="level">Level</label>
        </div>
        <button (click)="removeEntry(creature.level, level)" class="button_delete"><img src="assets/images/trash.png"></button>
      </div>
    </div>
  </div>

  <div>
    <button (click)="addCreature()" class="button button_add">Add</button>
  </div>
</div>
