.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.combat-setup{
  background-color: #737373;
  flex: 0 0 auto;
  padding: 20px;
  min-width: 30%;
}

.additional-info{
  background-color: #737373;
  flex: 0 1 auto;
}
