<div class="wrapper" *ngIf="combatSetup">
  <div class="combat-setup">
    <div class="combat-setup-inner">
      <div class="container">
        <h3>Group</h3>
        <div class="player_container" *ngFor="let player of combatSetupPlayers">
          <div>{{player.creature.name}}</div>
          <a (click)="removePlayer(player)" class="button_delete">
            <img src="assets/images/trash.png">
          </a>
        </div>
        <div *ngIf="groupXPInfo && groupXPInfo.easy">
          <span class="info-label">Easy: </span>
          <span class="info-value">{{groupXPInfo.easy}}</span>
          <span class="info-label">Medium: </span>
          <span class="info-value">{{groupXPInfo.medium}}</span>
          <span class="info-label">Hard: </span>
          <span class="info-value">{{groupXPInfo.hard}}</span>
          <span class="info-label">Deadly: </span>
          <span class="info-value">{{groupXPInfo.deadly}}</span>
        </div>
      </div>

      <div class="white-divider"></div>

      <h3>Encounter</h3>
      <table class="table table-dark table-hover">
        <tbody>
          <tr *ngFor="let creature of combatSetupCreatures">
            <td>
              <div>
                <h5>{{creature.creature.name}}</h5>
              </div>
              <div>
                <span class="info-label">CR</span>
                <span class="info-value">{{creature.creature.challenge_rating}}</span>
                <span class="info-label">XP</span>
                <span class="info-value">{{creature.creature.challenge_rating_xp}}</span>
              </div>
            </td>
            <td>x{{creature.additionalInfo.amount}}</td>
            <td>
              <div class="button_container">
                <a (click)="removeCreatureSetup(creature)" class="button_delete">
                  <img src="assets/images/trash.png">
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><button class="btn btn-primary" (click)="startCombat()">Start Combat</button></td>
            <td colspan="2">
              <div>
                <span class="info-label">Total Xp:</span>
                <span class="info-value">{{encounterXPInfo.totalXp}}</span>
                <span class="info-value" *ngIf="combatSetupPlayers.length > 0 && combatSetupCreatures.length > 0">(Per Player:{{encounterXPInfo.totalXpPerPlayer}})</span>
              </div>
              <div>
                <span class="info-label">Adjusted Xp:</span>
                <span class="info-value">{{encounterXPInfo.adjustedXp}}</span>
                <span class="info-value" *ngIf="combatSetupPlayers.length > 0 && combatSetupCreatures.length > 0">({{encounterXPInfo.encounterDifficulty}})</span>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="combat-setup-creatures-view">
    <div class="combat-setup-inner">
      <div class="creatures-view-tools">
        <input class="searchbar" (keyup)="search($event)" type="text" placeholder="Search for creatures" [(ngModel)]="keyword">
        <button class="btn btn-light toggle-players-button" (click)="togglePlayersView()">Toggle Players</button>
      </div>
      <table class="table table-dark table-hover setup-creatures-view">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>CR</th>
            <th>Type</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody *ngIf="!displayPlayers">
          <tr *ngFor="let creature of filteredCreatures">
            <td><button (click)="addCreatureCombat(creature)" class="btn btn-success">+</button></td>
            <td class="creatures-view-data">{{creature.creature.name}}</td>
            <td class="creatures-view-data">{{creature.creature.challenge_rating}}</td>
            <td class="creatures-view-data">
              <span>{{creature.creature.type}}</span>
              <span *ngIf="creature.creature.subtype != null"> ({{creature.creature.subtype}})</span>
            </td>
            <td class="creatures-view-data">{{creature.creature.size}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="displayPlayers">
          <tr *ngFor="let creature of filteredPlayerCharacters">
            <td><button (click)="addPlayerCombat(creature)" class="btn btn-success">+</button></td>
            <td class="creatures-view-data">{{creature.creature.name}}</td>
            <td class="creatures-view-data">---</td>
            <td class="creatures-view-data">
              <span>{{creature.creature.type}}</span>
              <span *ngIf="creature.creature.subtype != null"> ({{creature.creature.subtype}})</span>
            </td>
            <td class="creatures-view-data">{{creature.creature.size}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="!combatSetup">
  <app-combat [creatures]="combatCreatures"></app-combat>
</div>
