input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.wrapper{
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

.combat, .current-creature-info, .additional-info{
  flex: 1 0 auto;
  min-width: 20%;
  max-width: 30%;
}

.combat-setup{
  flex: 1 0 500px;
  margin-right: 20px;
}

.combat-setup-creatures-view{
  flex: 1 0 auto;
}

.combat-setup-inner, .combat-inner{
  background-color: rgba(51, 51, 51, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.initiative-input{
  text-align: center;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.87);
  width: 2em;
  border: none;
}

.initiative-input-name{
  background-color: inherit;
  border: none;
  width: 100%;
  color: rgba(255, 179, 102, 0.87);
  font-size: 1.5em;
}

.line{
  background-color: rgba(255, 255, 255, 0.87);
  height: 1px;
}

h5{
  color: rgba(255, 179, 102, 0.87);
}

.info-label, .combat-tools-value{
  color: rgba(255, 255, 255, 0.5);
}

.info-value{
  color: rgba(255, 255, 255, 0.3);
  margin-left: 2px;
  margin-right: 5px;
}

.info-header, .combat-tools-label{
  color: rgba(255, 255, 255, 0.65);
  margin-right: 10px;
}

.hit-points-container{
  display: flex;
  align-items: center;
}

.hit-points{
  min-height: 100%;
}

.creatures-tools{
  display: flex;
}

.add-button, .sort-button{
  margin: 5px;
  flex: auto;
}
.combat-tools, .creatures-view-tools{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.combat-tools-label{
  margin-right: 5px;
}

.current-creature{
  background-color: rgba(69, 77, 85, 0.5);
}

.italics{
  font-style: italic;
}

.capital{
  font-size: 1.4em;
}

.current-creature-info-placeholder{
  background-image: url("../../assets/images/Statblock background.jpg");
  height: 500px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 10px 20px 20px 5px rgba(0, 0, 0, 0.5);
}

.creatures-view-data{
  padding-right: 5em;
}

.toggle-players-button{
  flex: 0 0 auto;
}

.setup-creatures-view{
  min-width: 800px;
}

.white-divider{
  background-color: rgba(255, 255, 255, 0.87);
  height: 1px;
  margin: 5px;
}

.button_delete{
  margin: 0.1em 0;
  padding: 0.4em;
  border-radius: 0.2em;
  transition: 500ms ease-in-out;
  background-color: rgba(255, 77, 77, 0.6);
}

.button_delete:hover{
  cursor: pointer;
  border-radius: 0.6em;
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.button_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player_name{
  padding-right: 0.5em;
}

.players_added{
  margin-bottom: 1em;
}
