<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="pageCentered">
    <a class="navbar-brand" routerLink="/index">D&D Helper</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/initiative">Initiative</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/creatures">Creatures</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
