<div class="dnd-banner"></div>

<div class="page-link-section" (click)="changePage('initiative')">
  <h1 class="page-link-title">Initiative</h1>
  <div class="page-link-description">
    <h2>Create combat encounters!</h2>
  </div>
  <div class="page-link-image initiative-image"></div>
</div>

<div class="page-link-section" (click)="changePage('creatures')">
  <h1 class="page-link-title">Creatures</h1>
  <div class="page-link-image creatures-image"></div>
  <div class="page-link-description">
    <h2>Add and edit creatures!</h2>
  </div>
</div>

<footer>
  <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Art created by <a href="https://www.deviantart.com/88grzes" title="88grzes">88grzes</a> from <a href="https://www.deviantart.com">www.deviantart.com</a></div>
</footer>
