html {
    height: 100%;
}

body {
    background-color: #262626;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Roboto', sans-serif;
}

h1, nav{
    font-family: 'Gentium Basic', serif;
}

.pageCentered{
    width: 90%;
    margin: auto;
}

.navbar-brand{
    float: left;
}

.json-string     {
  color: rgba(255, 173, 51, 0.87);
}

.json-key  {
  color: rgba(71, 209, 209, 0.87);
  font-weight: bold;
}

.json-number  {
  color: rgba(255, 153, 153, 0.87);
}

.json-boolean {
  color: teal;
}

.json-null    {
  color: dimgray;
}
