<div class="section">
  <div class="input_pair">
    <input class="input_stnd" type="text" name="email" placeholder=" " [(ngModel)]="email" required/>
    <label for="email">Email</label>
  </div>
</div>

<div class="section">
  <div class="input_pair">
    <input class="input_stnd" type="text" name="user" placeholder=" " [(ngModel)]="user" required/>
    <label for="user">Username</label>
  </div>
</div>

<div class="section">
  <div class="input_pair">
    <input class="input_stnd" type="text" name="password" placeholder=" " [(ngModel)]="password" required/>
    <label for="password">Password</label>
  </div>
</div>

<div class="section">
  <a class="register_button" type="button" (click)="register()"><span class="register_text">Register</span></a>
</div>

<div class="section">
  <span class="errors">{{error}}</span>
</div>
